:root {
	font-family: Roboto-Bold, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
h1 {
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.39;
	color: #3e3e3e;
}
p {
	color: #3e3e3e;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
}
span.error {
	color: red;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	display: block;
	margin: 0.5rem 0px;
}
a {
	color: #3ca4fc;
	text-decoration: none;
	&:hover {
		color: #2c74b0;
		text-decoration: underline;
		cursor: pointer;
	}
}
.container__input {
	.container__label {
		margin-bottom: 1rem;
	}
}
.dashboard {
	width: 100%;
	display: grid;
	grid-template-columns: 524px auto;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"sidebar main";

	.headerContainer {
		grid-area: header;
		width: 100%;
		height: 72px;
		display: flex;
		border-bottom: 1px solid #eaeaea;
		justify-content: space-between;
		align-items: center;
		.buttons {
			display: flex;
			justify-content: flex-end;
			gap: 1rem;
			align-items: center;
			height: 100%;
			margin-right: 24px;
		}
	}
	.logo {
		margin-left: 1rem;
	}
	.imgSide {
		grid-area: sidebar;
		display: block;
		.imageBackground {
			width: 524px;
			height: 603px;
			object-fit: cover;
		}
	}
}
.register {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	color: #3e3e3e;
	.register__line {
		width: 84px;
		height: 1px;
		background-color: #eaeaea;
	}
	.register__text {
		width: 102px;
		padding: 0px 23px;
	}
}

.containerStep {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	.step {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #eaeaea;
		margin-left: 24px;
		&:last-child {
			margin-right: 24px;
		}
		&.active {
			background-color: #3e3e3e;
		}
	}
}
